/* !!!! ne pas modifier cette règle !!!! */
* {
	margin: 0;
}

/* !!!! ne pas modifier cette règle !!!! */
h2 {
	margin: 10px;
}

/* !!!! ne pas modifier cette règle !!!! */
label {
   	width: 120px;
   	float: left;
   	display: inline;
}


/* Vous pouvez modifier et ajouter des règles à partir de maintenant */

body {
  margin: 0; /* garder cette propriété */
	font-family: verdana,Arial, Helvetica, sans-serif;
	font-size : 14px;
}

header {
 height: 200px;
 background-color: green;
 display: flex;
 justify-content: center;
}

header h1{
	font-size :50px;
	
}

header img{
	margin-top: 30px;
	margin-left: 40px;
	height: 120px;
	width: 200px;
}
footer {
	height: 200px;
 	background-color: grey;
 	display: flex;
 	justify-content: center;
	width: auto;
	height: 100px;
	margin-top: 300px;
}
 

main {
	width: auto;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 10px;
	padding: auto;
}

section {
	width: 350px;
	margin: 0px;
	padding: 20px;
	border: 1px solid black;
	
}
 
table {
	width: 300px;
	border-width: 1px solid black;
	margin-top: 30px;
	margin-bottom: 30px;
	justify-content: center;
	

}

.commande table{
	border: black solid;
}

.client {
	justify-content: center;
	text-align: center;
}

.center{
	text-align: center;
}

.droite{
	text-align: right;
}

.centre{
	text-align: center;
}

.commande tr:nth-child(2n){
	background-color: orange;
}

.commande tr:nth-child(2n+1){
	background-color: green;
}

.commande tr:last-child{
	background-color: white;

}
.commande tr:first-child{
	background-color: white;
}

.commande tr{
	background-color: grey;
}

.commande tr:hover{
	background-color: white;
}


form {
	background-color: orange;
	display: flex ;
	width: 90%;
	padding: 20px;
	flex-direction: column;

}

input[type=submit]{
	font-size: 24px;
}

input[type=reset]{
	font-size: 24px;
}

#prix{
	background-color: wheat;
}
