/* !!!! ne pas modifier cette règle !!!! */
* {
	margin: 0;
}

/* !!!! ne pas modifier cette règle !!!! */
h2 {
	margin: 10px;
}

/* !!!! ne pas modifier cette règle !!!! */
label {
   	width: 120px;
   	float: left;
   	display: inline;
}


/* Vous pouvez modifier et ajouter des règles à partir de maintenant */

body {
  margin: 0; /* garder cette propriété */

}

header {
	width: 100%;
	height: 200px;
	background-color: green;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 50px;
}

img {
	position: fixed;
	left: 40px;
	width: 200px;
	height: 120px;
	
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: grey;
	width: 100%;
	height: 100px;
}

main {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 10px;
	height: calc(100vh - 200px - 100px - 10px);
}

section {
	width: 350px;
	margin: 0;
	padding: 20px;
	border: 1px solid black;
}
 
table {
	width: 300px;
	border: 1px solid black;
	margin: 30px 0 30px 25px;

}

.client {
	border: 0;
	text-align: center;
}

.commande {
	border-collapse: collapse;
}
.commande td {
	border: 1px solid black;
}
.commande thead {
	text-align: center;
	font-weight: bold;
}
.commande tfoot {
	text-align: center;
	font-weight: bold;
}
.commande tfoot tr :nth-child(2) {
	text-align: right;
}
.commande tbody tr :nth-child(2) {
	text-align: center;
}
.commande tbody tr :nth-child(3) {
	text-align: right;
}

.commande tbody :nth-child(even) {
	background-color: orange;
}
.commande tbody :nth-child(odd) {
	background-color: green;
}
.commande tbody :hover {
	background-color: grey;
	color: white;
}


form {
	background-color: orange;
	display: flex;
	flex-direction: column;
	width: 90%;
	padding: 20px;
}

form input[name="Prix"] {
	background-color: wheat;
}

button {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	
}

