/* ne pas modifier cette règle */
* {
	margin: 0;
}

/* ne pas modifier cette règle */
h2 {
	margin: 10px;
}

/* Vous pouvez modifier et ajouter des règles à partir de maintenant */

body {
  margin: 0;

}

header {
 
}

footer {
 
}

main {

}

section {

}
 
table {
}

form {

}


