/* !!!! ne pas modifier cette règle !!!! */
* {
	margin: 0;
}

/* !!!! ne pas modifier cette règle !!!! */
h2 {
	margin: 10px;
}

/* !!!! ne pas modifier cette règle !!!! */
label {
   	width: 120px;
   	float: left;
   	display: inline;
}


/* Vous pouvez modifier et ajouter des règles à partir de maintenant */

body {
  margin: 0; /* garder cette propriété */
  font-family: verdana, arial,sans-serif;
  height: 14px;
}

header {
	width: 100%;
	height: 200px;
	background-color: green;
	display: flex;
	justify-content: center;
}
header h1 {
	font-size: 50px;
}
 header img {
	position: fixed;
	margin-top: 30px;
	margin-left: 40px;
	width: 200px;
	height: 120px;
 }

footer {
	display: flex;
	background-color: grey;
	width: 100%;
	margin-top: 100px;
}

main {
	display: inline;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 10px;
}

section {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-left: 20px;
	border: 1px black;
}
 
table {
	width: 300px;
	border: 1px black;
	margin-top: 30px;
	margin-bottom: 30px;
	justify-content: center;
}

.commande {
	border: 1px black;
	justify-content: center;
	justify-content: right;
}

form {
	display: flex;
	flex-direction: column;
	background-color: orange;
	width: 90%;
	padding: 20px;
}


