/* !!!! ne pas modifier cette règle !!!! */
* {
	margin: 0;
}

/* !!!! ne pas modifier cette règle !!!! */
h2 {
	margin: 10px;
}

/* !!!! ne pas modifier cette règle !!!! */
label {
   	width: 120px;
   	float: left;
   	display: inline;
}


/* Vous pouvez modifier et ajouter des règles à partir de maintenant */

body {
  margin: 0; /* garder cette propriété */
  font-family: Verdana , Arial ;
  size: 14px;

}

header {
	height: 200px;
	width: 100%;
	background-color: green;
	margin: auto;
	

 
}
header h1
{
font-size : 50px;
text-align: center;

}
header img
{
margin-top: 30px;
margin-left: 40px;
height: 120px;
width: 200px;

}

footer
{
display: flex;
justify-content: center;
height: 200px;
background-color: grey;
width: auto;
height: 100px;

 
}

main 
{
width: auto;
display: flex;
justify-content: space-around;
align-items: flex-start;
margin-top: 10px;
padding: auto;
flex-direction: column;





}

section 
{
	width: 350px;
	margin:10px;
	padding: 20px;
	border: 1px solid black;
	flex-direction: row;
}
 
table 
{
	width: 300px;
	border: 1px solid black;
	margin-top: 30px;
	margin-bottom: 30px;
	justify-content: center;
	
}
.commande tr:nth-child(2n)
{
	background-color: orange;
}
.commande tr:nth-child(2n+1)
{
	background-color: green;
}
.commande tr:last-child
{
	background-color: white;
}

.commande tr:first-child
{
	background-color: white;
}

.commande:hover
{
	background-color: white;
}

.commande th , tr , td 
{
	border: 1px solid black;
}

form {
	background-color: orange;
	display: flex;
	flex-direction: column;
	width: 90%;
	padding: 20px;



}


