/* !!!! ne pas modifier cette règle !!!! */
* {
	margin: 0;
}

/* !!!! ne pas modifier cette règle !!!! */
h2 {
	margin: 10px;
}

/* !!!! ne pas modifier cette règle !!!! */
label {
   	width: 120px;
   	float: left;
   	display: inline;
}


/* Vous pouvez modifier et ajouter des règles à partir de maintenant */

body {
  margin: 0; /* garder cette propriété */
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;

}

header {
	height: 200px;
	background-color: green;
	display: flex;
 
}

footer {
display: flex;
background-color: grey;
width: 100%;
height: 100px;
 
}

main {
display: flex;
justify-content: space-around;
align-items: flex-start;
margin-top: 10px;
height: max-content;

}


section {
	width: 350px;
	margin: 0px;
	padding: 20px 20px 20px 20px;
	border: 1px;
	border-color: black;

}
 
table {
	width: 300px;
    border: 1px;
    border-color: black;
	margin-top: 30px;
    margin-bottom: 30px;
	text-align: center;

}
#client{
    border: 0px;

}

form {

}

h1{
	font-size: 50px;
}
img{
	margin-top: 30px;
	padding-left: 40px;
	height: 120px;
	width: 200px;
}


