/* !!!! ne pas modifier cette règle !!!! */
* {
	margin: 0;
}

/* !!!! ne pas modifier cette règle !!!! */
h2 {
	margin: 10px;
}

/* !!!! ne pas modifier cette règle !!!! */
label {
   	width: 120px;
   	float: left;
   	display: inline;
}


/* Vous pouvez modifier et ajouter des règles à partir de maintenant */

body {
  margin: 0; /* garder cette propriété */
  font-family: Verdana, Arial, sans-serif;
	line-height: 14px;
}

header {
	width: 100vw;
	height: 200px;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 50px;
}

header img {
	position: fixed;
	top: 30px;
	left: 40px;
	width: 200px;
	height: 120px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: grey;
	width: 100vw;
	height: 100px;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 10px;
	min-height: calc(100vh - 300px);
}

section {
	width: 350px;
	margin: 0;
	padding: 20px;
	border: 1px solid black;
}
 
table {
	width: 300px;
	border: solid 1px black;
	margin: 30px 25px;
	justify-self: center;

}

.client{
	border: none;
	text-align: center;
}

.commande, .commande th, .commande td{
	border: solid 1px black;
	border-collapse: collapse;
}

.quantité {
	text-align: center;
}

.prix{
	text-align: right;
}

.commande tr:nth-child(2n-1){
	background-color: orange;
}

.commande tr:nth-child(2n){
	background-color: green;
}

.commande tr:hover {
	background-color: grey;
	color: white;
}

form {
	background-color: orange;
}

fieldset{
	border: none;
	display: flex;
	flex-direction: column;
	width: 90%;
	padding: 20px;
}

input[type=text] {
	background-color: wheat;
}

input[type=submit]{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
}

input[type=reset]{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
}
