/* ne pas modifier cette règle */
* {
	margin: 0;
}

/* ne pas modifier cette règle */
h2 {
	margin: 10px;
}

/* Vous pouvez modifier et ajouter des règles à partir de maintenant */

body, header {
	margin: 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
}

header {
	height: 200px;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
}

header img {
	position: fixed;
	top: 30px;
	left: 40px;
	width: 200px;
	height: 120px;
}

h1 {
	font-size: 50px;
}

footer {
	background-color: grey;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	height: calc(100vh - 300px);
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

section {
	min-width: 350px;
	/* max-width: 33%; */
	padding: 20px;
	border: 1px solid black;
}

table {
	width: 300px;
	border: 1px solid black;
	margin: 30px auto;
	text-align: center;
}

table.client {
	border: none;
}

table.commande th,
table.commande td {
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}

table.commande td:nth-child(1) {
	text-align: left;
}
table.commande td:nth-child(2) {
	text-align: center;
}
table.commande td:nth-child(3) {
	text-align: right;
}


table.commande tr:nth-child(odd) {
	background-color: green;
}
table.commande tr:nth-child(even) {
	background-color: orange;
}
table.commande th,
table.commande tr:nth-last-child(1) {
	background-color: white;
}


table.commande tr:hover {
	background-color: gray;
	color: white;
}

form {
	background-color: orange;
	display: flex;
	flex-direction: column;
}

fieldset {
	border: none;
}

label {
	margin-bottom: 10px;
}

form input[type="text"] {
	background-color: wheat;
}


form input[type="submit"],
form input[type="reset"] {
	font-size: 24px;
	text-transform: uppercase;
	width: 100%;
}
